.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--borderColor);
  padding: 10px 10%;
  background-color: #f2f2f2;
}
.admin-tabs {
  display: flex;
  gap: 15px;
}
.admin-banner {
  background-color: var(--warningColor);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.admin-banner h1 {
  color: white;
}
