.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  border-color: grey;
  padding: 0px 5%;
  background-color: whitesmoke;
  gap: 10px;
  height: 65px;
}
.admin-tabs {
  display: flex;
  gap: 30px;
}
.h1 {
  font-size: 20;
  font-family: Arial, Helvetica, sans-serif;
}
.admin-banner {
  background-color: var(--warningColor);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-banner h1 {
  color: black;
}

.header-button-container {
  display: flex;
  gap: 25px;
}
.admin-banner span {
  color: rgb(0, 123, 255);
}
