button {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 15px;
  box-shadow: navy 1px 0 10px;
}
.loginButton {
  color: gold;
  background-color: navy;
}
.loginButton:hover  {
  background-color:blue;
}
.ticketButton {
  color:gold;
  background-color: navy;
}
.ticketButton:hover {
  background-color: blue;
}
