.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--borderColor);
  padding: 10px 10%;
  background-color: #f2f2f2;
  gap: 15px;
}
.employee-tabs {
  display: flex;
  gap: 25px;
}
.employee-banner {
  background-color: var(--accent);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.employee-banner h1 {
  color: white;
}
