.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  border-color:grey;
  padding: 0px 5%;
  background-color: #f2f2f2;
  gap: 10px;
  height:65px;
}
.employee-tabs {
  display: flex;
  gap: 30px;
}
.employee-banner {
  background-color: var(--accent);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:65px
}
.employee-banner h1 {
  color: black;
}

.header-button-container {
  display: flex;
  gap: 25px;
}