.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--borderColor);
  padding: 10px 10%;
}
.links {
  display: flex;
  gap: 25px;
  align-items: center;
}
.header-button-container {
  display: flex;
  gap: 25px;
}
