.card-container {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  border-bottom: 2px solid var(--borderColor);
  padding: 20px 0;
}

.card-container img {
  width: 200px;
  height: 200px;
}
.card-container h1 {
  margin-top: 0;
}
