.admin-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-login-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
