.employee-form {
  display: grid;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 25px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
}
.employee-card {
  padding: 20px 10%;

}
.employee-form input {
  background-color: var(--backgroundColor);
}
.employee-form button {
  grid-column: span 2;
}
table,
td,
th {
  border-bottom: 1px solid black;
  margin-left: 60px;
  margin:0 auto;
  text-align: center;
  justify-content: center;
  min-width: 80px;
  padding: 5px;
  margin-bottom: 30px;
}
th{
  background-color:lightgray;
}
tr{
  transition-duration: .2s;
}
tr:hover {
  background-color:lightblue;
}

td {
  font-size: 14px;
}
h1{
  text-align: center;
  grid-column: span 1
}
button{
  background-color:lightgrey;
  border:1px solid dimgray;
  color:black;
  box-shadow: none;
  display:inline-block;
  font-size: 12;
  border-radius: 5px;
  transition-duration: .4s;
  margin-top: 5px;
  margin-bottom: 3px;
  margin-right: 3px;
  grid-column: span 2;
}
button:hover{
  background-color:cadetblue;
}

.dialog-container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-container::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
}

form .form-group {
  display: flex;
  flex-direction: column;
}