/* p {
  margin: 0;
}
.reports {
  padding: 10px 10%;
  display: grid;
  grid-template-columns: 1fr;
}
.popular-rides {
  height: 200px;
  background-color: white;
}
 */
/* Adminreports.css */

/* Adminreports.css */
.reports-container {
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reports-container > div {
  border-bottom: 1px solid gray;
}
.reports-container button {
  width: 200px;
  justify-self: center;
}

.admin-reports {
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
