p {
  margin: 0;
}
.reports {
  padding: 10px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.popular-rides {
  grid-column: span 2;
  height: 200px;
  background-color: white;
}
