.admin-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-login-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 250px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 5px;
}
.form-container h1 {
  border-bottom: 2px solid var(--backgroundColor);
}

input {
  display: block;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 20px;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  margin-top: 20px;
  border: none;
  background-color: var(--warningColor);
  cursor: pointer;
}
.table-btn-container {
  display: flex;
}
