.employee-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.employee-card {
  padding: 20px 10%;
}
.employee-form input {
  background-color: var(--backgroundColor);
}
.employee-form button {
  grid-column: span 2;
}
