.employee-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.employee-card {
  padding: 20px 10%;
}
.employee-form input {
  background-color: var(--backgroundColor);
}
.employee-form button {
  grid-column: span 2;
}
table,
td,
th {
  border-bottom: 1px solid black;
  margin-left: 60px;
  margin:0 auto;
  text-align: center;
  justify-content: center;
  min-width: 80px;
}
tr{
  transition-duration: .2s;
}
tr:hover {
  background-color:lightslategrey;
}

td {
  font-size: 14px;
}
h1{
  text-align: center;
}
button{
  background-color:grey;
  border:1px solid dimgray;
  color:black;
  display:inline-block;
  font-size: 12;
  border-radius: 5px;
  transition-duration: .4s;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}
button:hover{
  background-color: dimgray;
}
/* .modal > form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
} */
