.hero {
  height: 80vh;
  background-image: url("../assets/images/events-hero.jpg");
  background-size: cover;
  background-position: center;
  filter: saturate(30%);
}
.hero h1 {
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 2px solid var(--borderColor);
  width: fit-content;
  color:aliceblue
}
.hero h1,
.hero p {
  color: var(--backgroundColor);
  text-align: center;
}