.hero {
  height: 60vh;
  background-image: url("../assets/images/events-hero.jpg");
  background-size: cover;
  background-position: center;
  filter: saturate(50%);
}
.hero h1 {
  font-size: 20;
  margin: 0 auto;
  padding-top: 50px;
  width: fit-content;
  color:gold;
  text-shadow: black 1px 0 10px;
}
.hero p {
  color: var(--backgroundColor);
  text-align: center;
}