.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.admin-login {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.employee-login {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.admin-login:hover,
.employee-login:hover {
  opacity: 50%;
}

.login-page > h1 {
  margin-bottom: 0;
  margin-top: 60px;
}
